<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651909216869-oj03206m3969pups6i1ldmug5otonbud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651909216869-oj03206m3969pups6i1ldmug5otonbud</string>
	<key>API_KEY</key>
	<string>AIzaSyAzIx-HKUQsX8v6KNeYSD0s_5jrYQskMFA</string>
	<key>GCM_SENDER_ID</key>
	<string>651909216869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imageShareApp20200418</string>
	<key>PROJECT_ID</key>
	<string>minsuta-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>minsuta-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651909216869:ios:a2f81c6f71a2783698648c</string>
	<key>DATABASE_URL</key>
	<string>https://minsuta-develop.firebaseio.com</string>
</dict>
</plist>