//
//  Staging.xcconfig
//  Runner
//
//  Created by 田内　翔太郎 on 2020/05/06.
//  Copyright © 2020 The Chromium Authors. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FLUTTER_FLAVOR=Staging
PRODUCT_BUNDLE_IDENTIFIER=com.mono0926.flavor.staging2
DISPLAY_NAME=Flavor St
FLUTTER_TARGET=lib/main.staging.dart
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-staging
